@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #464747;
  font-size: large;
  font-weight: 400;
  
}


body {
  color: #464747;
  background-color: #464747;
}

.radix-themes {
  --color-background: rgb(203, 157, 157);
}
